@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Hello! from FastTrack for Azure team.</h2>
    <p>We love all things Azure and DevOps.</p>
</div>
